x-poll-config: &poll-config
 POLL_CONFIG: |
   - url: https://github.com/EdwinOtten/home-server.git  # This is the repository to poll
     reference: main  # Optional: specify the branch or tag to poll, defaults to 'main'
     interval: 60  # Optional: specify the interval in seconds to poll the repository, defaults to 180 seconds (3 minutes)
     target: ""  # Optional: use to target a specific deployment config file, e.g., "test" -> .doco-cd.test.yaml

services:
  app:
    container_name: home-server
    image: ghcr.io/kimdre/doco-cd:latest
    restart: unless-stopped
    ports:
      # - "8888:8888" # Webhook endpoint
      - "9122:9122" # Prometheus metrics
    # For all available environment variables and explanations, see https://github.com/kimdre/doco-cd/wiki/App-Settings
    environment:
      TZ: Europe/Amsterdam
      GIT_ACCESS_TOKEN: ${GITHUB_READ_TOKEN}
      DOCKER_SWARM_FEATURES: false
      LOG_LEVEL: debug
      <<: *poll-config  # Uncomment this line to use the poll configuration from above (the `x-poll-config` section).
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/home-server-data:/data
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8888/v1/health" ]  # Also change the port here if you change the default HTTP_PORT env var
      start_period: 15s
      interval: 30s
      timeout: 5s
      retries: 3

volumes:
  data:
