services:
  hello-world-api:
    container_name: hello-world-api
    image: nmatsui/hello-world-api
    ports:
      - "3003:3000"
  configarr:
    image: ghcr.io/raydak-labs/configarr:1.17.2
    container_name: configarr
    #user: 1000:1000 # Optional, defaults to root:root
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /opt/configarr-cache:/app/repos # Cache repositories
      - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/config:/app/config # Contains the config.yml and secrets.yml
      - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/templates:/app/templates # Optional if custom templates
      # - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/custom-formats:/app/cfs # Optional if custom formats locally provided
    # restart: "no" # optional make sure this is set to no or removed. Default is no
