services:
  hello-world-api:
    container_name: hello-world-api
    image: nmatsui/hello-world-api
    ports:
      - "3004:3000"

  # Sonarr is used to query, add downloads to the download queue and index TV shows
  # https://sonarr.tv/
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - SONARR__AUTH__ENABLED=1
      - SONARR__AUTH__METHOD=Forms
      - SONARR__AUTH__APIKEY=testkeytesttesttesttesttest
      - SONARR__AUTH__REQUIRED=DisabledForLocalAddresses
    volumes:
      - /mnt/deadpool/data:/data
      - /opt/sonarr-config:/config
    ports:
      - 8989:8989
    restart: unless-stopped
#    networks:
#      yams_network:
#        ipv4_address: 172.60.0.13

  configarr:
    image: ghcr.io/raydak-labs/configarr:1.17.2
    container_name: configarr
    user: 1000:1000
    depends_on:
      - sonarr
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /opt/configarr-cache:/app/repos # Cache repositories
      - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/config:/app/config # Contains the config.yml and secrets.yml
      - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/templates:/app/templates # Optional if custom templates
      # - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/custom-formats:/app/cfs # Optional if custom formats locally provided
    # restart: "no" # optional make sure this is set to no or removed. Default is no

