services:

  # Sabnzbd goes here
  # qBittorrent goes here

  # Sonarr is used to query, add downloads to the download queue and index TV shows
  # https://sonarr.tv/
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr2
    environment:
      - PUID=${PUID?:error}
      - PGID=${PGID?:error}
      - TZ=${TZ?:error}
      - SONARR__AUTH__ENABLED=TRUE
      - SONARR__AUTH__METHOD=Forms
      - SONARR__AUTH__APIKEY=${SONARR_API_KEY:?error}
      - SONARR__AUTH__REQUIRED=DisabledForLocalAddresses
    volumes:
      - media:/media
      - sonarr-storage:/config
    ports:
      - 18989:8989
    restart: unless-stopped
    networks:
      - media-server-network

  # Radarr is used to query, add downloads to the download queue and index Movies
  # https://radarr.video/
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr2
    environment:
      - PUID=${PUID?:error}
      - PGID=${PGID?:error}
      - TZ=${TZ?:error}
      - RADARR__AUTH__ENABLED=TRUE
      - RADARR__AUTH__METHOD=Forms
      - RADARR__AUTH__APIKEY=${RADARR_API_KEY:?error}
      - RADARR__AUTH__REQUIRED=DisabledForLocalAddresses
    volumes:
      - media:/media
      - radarr-storage:/config
    ports:
      - 17878:7878
    restart: unless-stopped
    networks:
      - media-server-network

  # Configarr is used to manage quality profilea and custom formats. Configarr pushes theses to Radarr/Sonarr.
  #configarr:
  #  image: ghcr.io/raydak-labs/configarr:1.17.2
  #  container_name: configarr
  #  user: ${PUID?:error}:${PGID?:error}
  #  depends_on:
  #    - sonarr
  #  environment:
  #    - TZ=${TZ?:error}
  #  volumes:
  #    - /opt/configarr-cache:/app/repos # Cache repositories
  #    - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/config:/app/config # Contains the config.yml and secrets.yml
  #    - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/templates:/app/templates # Optional if custom templates
  #    # - /opt/home-server-data/github.com/EdwinOtten/home-server/media-server/configarr/custom-formats:/app/cfs # Optional if custom formats locally provided
  #  # restart: "no" # optional make sure this is set to no or removed. Default is no
  #  networks:
  #    - media-server-network


  # Prowlarr is our torrent indexer/searcher. Preolarr pushes indexes to Sonarr/Radarr.
  # https://prowlarr.com/
  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr2
    environment:
      - PUID=${PUID?:error}
      - PGID=${PGID?:error}
      - TZ=${TZ?:error}
      - PROWLARR__AUTH__ENABLED=TRUE
      - PROWLARR__AUTH__METHOD=Forms
      - PROWLARR__AUTH__APIKEY=${PROWLARR_API_KEY:?error}
      - PROWLARR__AUTH__REQUIRED=DisabledForLocalAddresses
    volumes:
      - prowlarr-storage:/config
    ports:
      - 19696:9696
    restart: unless-stopped
    networks:
      - media-server-network
    depends_on:
      sonarr:
        condition: service_healthy
        restart: true
      radarr:
        condition: service_healthy
        restart: true

  # Bazarr is used to query, add downloads to the download queue and index subtitles
  # https://www.bazarr.media/
  bazarr:
    image: lscr.io/linuxserver/bazarr
    container_name: bazarr2
    environment:
      - PUID=${PUID?:error}
      - PGID=${PGID?:error}
      - TZ=${TZ?:error}
      - BAZARR__AUTH__ENABLED=TRUE
      - BAZARR__AUTH__METHOD=Forms
      - BAZARR__AUTH__APIKEY=${BAZARR_API_KEY:?error}
      - BAZARR__AUTH__REQUIRED=DisabledForLocalAddresses
    volumes:
      - media:/media
      - bazarr-storage:/config
    ports:
      - 16875:6875
    restart: unless-stopped
    networks:
      - media-server-network

  # Jellyfin goes here

  # Seerr/Jellyseer goes here

networks:
  media-server-network:
    driver: bridge

volumes:
  old-downloads:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nolock,ro,soft,nfsvers=4
      device: ":/volume1/downloads"

  media:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/media-server-storage/media"

  sonarr-storage:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/media-server-storage/services/sonarr"

  radarr-storage:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/media-server-storage/services/radarr"

  configarr-storage:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/media-server-storage/services/configarr"

  prowlarr-storage:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/media-server-storage/services/prowlarr"

  bazarr-storage:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/media-server-storage/services/bazarr"