services:
  nfs-checker:
    image: alpine:3.19
    command: >
      sh -c "echo 'Listing NFS volume contents...' &&
             ls -al /mnt/nfs &&
             echo 'Creating helloworld.txt on NFS volume...' &&
             touch /mnt/nfs/helloworld.txt &&
             echo 'Listing NFS volume contents...' &&
             ls -al /mnt/nfs &&
             echo 'Removing helloworld.txt from NFS volume...' &&
             rm /mnt/nfs/helloworld.txt &&
             echo 'Listing NFS volume contents...' &&
             ls -al /mnt/nfs &&
             echo 'Done.'"
    volumes:
      - nfsdata:/mnt/nfs
    restart: "no"

volumes:
  nfsdata:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.111,nfsvers=4,rw
      device: ":/volume1/downloads"
